/* Normal (xs - phones) */
.dashCardTitle {
    color: var(--theme-primary-colour);
    padding-bottom: 10px;
}

.dashSmallCard {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.dashSmallCard .dashCardTitle {
    font-weight: 400;
    font-size: 1.3rem;
}

.dashLargeCard {
    min-height: 400px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.dashLargeCard .dashCardTitle {
    font-weight: 500;
}

.dashGridItem {
    padding: 10px 0px;
}

/* sm - small screen */
@media (min-width: 600px) {
    .dashSmallCard {
        height: 300px;
    }

    .dashGridItem {
        padding: 10px;
    }
}

/* md - medium screen*/
@media (min-width: 960px) {
    .dashGridItem {
        padding: 10px 20px;
    }
}