.fsRoot {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1201;
    top: 0;
    overflow: hidden;
    pointer-events: none;
}

@media only screen and (max-width: 400px) {
    .fsTitle {
        font-size: 1.1em !important;
    }
}

.fsContainer {
    height: 100%;
    width: 100%;
    transition: transform 300ms ease;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
}

.fsHeader {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
    width: 100%;
}

.fsContent {
    background-color: #ededed;
    flex: 1;
    height: 100%;
    width: 100%;
}